$background-dark: #313233;
$background-black: #202123;
$background-middle: #2a2c2d;
$white: #ffffff;
$input-border: #ccc;
$divider-color: #ddd;
$text-secondary: #777;
$button-color: #1e62c2;
$link-color: #4285f4;
$error-color: #d32f2f;
$base-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;